USE [QLDSV]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nchar](8) NOT NULL,
	[TENLOP] [nvarchar](40) NOT NULL,
	[MAKH] [nchar](8) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_TENLOP] UNIQUE NONCLUSTERED 
(
	[TENLOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TENLOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nchar](8) NOT NULL,
	[HO] [nvarchar](40) NULL,
	[TEN] [nvarchar](10) NULL,
	[MALOP] [nchar](8) NOT NULL,
	[PHAI] [bit] NULL,
	[NGAYSINH] [datetime] NULL,
	[NOISINH] [nvarchar](40) NULL,
	[DIACHI] [nvarchar](80) NULL,
	[NGHIHOC] [bit] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_SISO]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_SISO]
AS
SELECT L.MALOP , L.TENLOP, COUNT(S.MASV ) AS SISO
FROM LOP L LEFT JOIN 
  (SELECT MASV, MALOP FROM SINHVIEN WHERE NGHIHOC='FALSE') S
     ON L.MALOP=S.MALOP 
GROUP BY L.MALOP, L.TENLOP
GO
/****** Object:  View [dbo].[V_DS_PHANMANH]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_PHANMANH]
AS
SELECT  TENKH=PUBS.description, TENSERVER= subscriber_server
   FROM dbo.sysmergepublications PUBS,  dbo.sysmergesubscriptions SUBS
   WHERE PUBS.pubid= SUBS.PUBID  AND PUBS.publisher <> SUBS.subscriber_server
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM](
	[MASV] [nchar](8) NOT NULL,
	[MAMH] [nchar](5) NOT NULL,
	[LAN] [smallint] NOT NULL,
	[DIEM] [float] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_DIEM] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAMH] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[MAKH] [nchar](8) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCPHI]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCPHI](
	[MASV] [nchar](8) NOT NULL,
	[NIENKHOA] [nvarchar](12) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[HOCPHI] [int] NOT NULL,
	[SOTIENDADONG] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_HOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKH] [nchar](8) NOT NULL,
	[TENKH] [nvarchar](40) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TENKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nchar](5) NOT NULL,
	[TENMH] [nvarchar](40) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_MONHOC] UNIQUE NONCLUSTERED 
(
	[TENMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TENMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIEM] ADD  CONSTRAINT [MSmerge_df_rowguid_1ED23AC81C994B87AD165C8C60BA7AFA]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GIANGVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_E08E54EED0E04F8984D7CB3875F65367]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_HOCKY]  DEFAULT ((1)) FOR [HOCKY]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_HOCPHI]  DEFAULT ((6000000)) FOR [HOCPHI]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_SOTIENDADONG]  DEFAULT ((0)) FOR [SOTIENDADONG]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [MSmerge_df_rowguid_FF126FD378544D1189C1702745F93581]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KHOA] ADD  CONSTRAINT [MSmerge_df_rowguid_65AEF298405148AD82E07C13923CBED6]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [MSmerge_df_rowguid_E898AF1D80574BF6893CB0B622836745]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [MSmerge_df_rowguid_028B3A2C1AF14EF18D149E50E38007A5]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_BBD1338F61FB492CBAB0FACF7EEC7985]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_MONHOC1] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_MONHOC1]
GO
ALTER TABLE [dbo].[DIEM]  WITH NOCHECK ADD  CONSTRAINT [FK_DIEM_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_SINHVIEN]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_KHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_KHOA]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_HOCPHI_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [FK_HOCPHI_SINHVIEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA1] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA1]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[DIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_DIEM_DIEM] CHECK  (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [CK_DIEM_DIEM]
GO
ALTER TABLE [dbo].[DIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_DIEM_LAN] CHECK  (([LAN]=(1) OR [LAN]=(2)))
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [CK_DIEM_LAN]
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGNHAP]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 
 SELECT USERNAME = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM GIANGVIEN  WHERE MAGV = @TENUSER ),
   TENNHOM= NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
                                      WHERE NAME=@TENUSER))
GO
/****** Object:  StoredProcedure [dbo].[SP_GETBANGDIEM]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GETBANGDIEM]
	@MALOP nchar(8),
	@MAMH nchar(5),
	@LANTHI smallint
AS
BEGIN
	IF EXISTS (SELECT * FROM dbo.SINHVIEN WHERE MALOP = @MALOP)
		BEGIN
			IF (@LANTHI = 1)
				BEGIN
					IF EXISTS (SELECT * FROM dbo.DIEM WHERE MASV IN (SELECT MASV FROM dbo.SINHVIEN WHERE MALOP=@MALOP) AND LAN = 1 AND MAMH=@MAMH)
						BEGIN
							SELECT d.MASV,sv.HO + ' ' +sv.TEN AS HOTEN,d.DIEM FROM DIEM d,SINHVIEN sv
							WHERE d.MASV=sv.MASV AND d.LAN=@LANTHI AND d.MAMH=@MAMH AND sv.NGHIHOC='false' AND sv.MALOP=@MALOP
							ORDER BY d.MASV
						END
					ELSE
						BEGIN
							SELECT MASV,HO + ' ' +TEN AS HOTEN,'' AS DIEM  FROM SINHVIEN WHERE MALOP=@MALOP AND NGHIHOC='false'
						END
				END
			IF (@LANTHI = 2)
				BEGIN
					IF NOT EXISTS(SELECT * FROM DIEM WHERE MASV IN (SELECT MASV FROM SINHVIEN WHERE MALOP=@MALOP) AND LAN=1 AND DIEM.MAMH=@MAMH)
						 BEGIN
								RETURN 2;
						 END
					ELSE IF EXISTS(SELECT * FROM DIEM WHERE MASV IN (SELECT MASV FROM SINHVIEN WHERE MALOP=@MALOP) AND LAN=2 AND DIEM.MAMH=@MAMH)
						 BEGIN
								SELECT d.MASV,HO + ' ' +TEN AS HOTEN,DIEM FROM DIEM d,SINHVIEN sv
								WHERE d.MASV=sv.MASV AND d.LAN=@LANTHI AND d.MAMH=@MAMH AND sv.NGHIHOC='false' AND sv.MALOP=@MALOP
								ORDER BY d.MASV
						 END
					ELSE
						 BEGIN
								SELECT MASV,HO + ' ' +TEN AS HOTEN,'' AS DIEM  FROM  SINHVIEN WHERE MALOP=@MALOP AND NGHIHOC='false'
						 END
				END 
		END
	ELSE 
		BEGIN
			RETURN 1; --Lop khong co sinh vien
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETHOCPHISV]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GETHOCPHISV]
@MASV NCHAR(8)
AS
BEGIN
	 SELECT NIENKHOA,HOCKY,HOCPHI,SOTIENDADONG FROM HOCPHI hp WHERE hp.MASV=@MASV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETINFOSV]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GETINFOSV]
@MASV NCHAR(8)
AS
BEGIN
	IF EXISTS (SELECT * FROM SINHVIEN WHERE MASV=@MASV)
		BEGIN
			SELECT HO+' '+TEN AS HOTEN,MALOP,NGHIHOC FROM SINHVIEN WHERE MASV=@MASV
		END
    ELSE
		BEGIN
			RETURN 1
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INDANHSACHBANGDIEMTONGKET]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INDANHSACHBANGDIEMTONGKET]
@MALOP NCHAR(8)
AS
BEGIN
	SELECT (D.MASV+'-'+SV.HOVATEN) AS ID,M.TENMH,MAX(DIEM) AS D
		FROM DIEM AS D,
			(SELECT MAMH,TENMH FROM MONHOC M) AS M,
			(SELECT SV.MALOP,SV.MASV,(SV.HO+' '+ SV.TEN) AS HOVATEN FROM SINHVIEN SV WHERE SV.MALOP = @MALOP AND SV.NGHIHOC = 0 ) AS SV
		WHERE SV.MASV = D.MASV AND D.MAMH = M.MAMH 
		GROUP BY D.MASV,SV.HOVATEN,M.TENMH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INDANHSACHHOCPHI]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INDANHSACHHOCPHI]
@MALOP NCHAR(8),
@NIENKHOA NVARCHAR(12),
@HOCKY INT
AS
BEGIN
	SELECT HO+' '+TEN AS HOTEN, HOCPHI, SOTIENDADONG 
	FROM SINHVIEN LEFT JOIN  HOCPHI ON SINHVIEN.MASV=HOCPHI.MASV  
	WHERE NIENKHOA=@NIENKHOA  AND HOCKY=@HOCKY AND MALOP=@MALOP  AND SINHVIEN.NGHIHOC='false'
	ORDER BY TEN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INDANHSACHSINHVIEN]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INDANHSACHSINHVIEN]
@MALOP NCHAR(8)
AS
BEGIN
	IF EXISTS (SELECT 1 FROM SINHVIEN WHERE MALOP=@MALOP)
		BEGIN
			SELECT  HO, TEN, IIF(PHAI = 0,N'Nữ',N'Nam') AS PHAI, NGAYSINH, NOISINH, DIACHI FROM SINHVIEN sv WHERE sv.MALOP=@MALOP AND sv.NGHIHOC='false'
		END
	ELSE
		BEGIN
			RETURN 1;
		END 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INDANHSACHTHIHETMON]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INDANHSACHTHIHETMON]
@MALOP NCHAR(8)
AS
BEGIN
	IF EXISTS (SELECT 1 FROM SINHVIEN WHERE MALOP=@MALOP)
		BEGIN
			SELECT MASV, HO+' '+TEN AS HOTEN FROM SINHVIEN sv WHERE sv.MALOP=@MALOP AND sv.NGHIHOC='false'
		END
	ELSE
		RETURN 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INDIEMMONHOC]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INDIEMMONHOC]
@MALOP NCHAR(8),
@MAMH NCHAR(5),
@LAN  INT
AS
BEGIN
	SELECT d.MASV,HO+' '+TEN AS HOTEN, d.DIEM
	FROM (SELECT MASV,DIEM FROM DIEM WHERE MASV IN (SELECT MASV FROM SINHVIEN WHERE MALOP=@MALOP) AND LAN=@LAN AND DIEM.MAMH=@MAMH) d, SINHVIEN sv
	WHERE d.MASV=sv.MASV AND sv.NGHIHOC='false'
	ORDER BY MASV ASC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INPHIEUDIEM]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INPHIEUDIEM]
@MASV NCHAR(8)
AS
BEGIN
	SELECT TENMH, MAX(DIEM) AS DIEM 
	FROM MONHOC mh,DIEM d
	WHERE d.MAMH= mh.MAMH AND MASV = @MASV
	GROUP BY TENMH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTBANGDIEM]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERTBANGDIEM]
@MASV nchar(8),
@MAMH nchar(5),
@LANTHI smallint,
@DIEM float
AS
BEGIN
	IF EXISTS (SELECT 1 FROM DIEM WHERE MASV=@MASV AND MAMH=@MAMH AND LAN=@LANTHI)
		BEGIN
			UPDATE DIEM
			SET DIEM = @DIEM 
			WHERE MASV= @MASV AND LAN=@LANTHI AND MAMH=@MAMH
		END
	ELSE
		BEGIN
			INSERT INTO DBO.DIEM (MASV, MAMH, LAN, DIEM)
			VALUES (@MASV, @MAMH, @LANTHI, @DIEM)
		END	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTHOCPHI]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERTHOCPHI]
@MASV NCHAR(8),
@NIENKHOA NVARCHAR(12),
@HOCKY INT = 0,
@HOCPHI INT = 0,
@SOTIENDADONG INT = 0
AS
BEGIN		
	IF EXISTS (SELECT 1 FROM HOCPHI WHERE MASV=@MASV AND NIENKHOA=@NIENKHOA AND HOCKY= @HOCKY)
			BEGIN
				UPDATE HOCPHI
				SET HOCPHI=@HOCPHI , SOTIENDADONG=@SOTIENDADONG
				WHERE MASV=@MASV AND NIENKHOA=@NIENKHOA AND HOCKY= @HOCKY
			END
	ELSE
		BEGIN
			INSERT INTO HOCPHI(MASV, NIENKHOA, HOCKY,HOCPHI,SOTIENDADONG)
			VALUES (@MASV,@NIENKHOA,@HOCKY,@HOCPHI,@SOTIENDADONG)
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRAMAGIANGVIENTONTAI]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KIEMTRAMAGIANGVIENTONTAI]
@MAGV nchar(10)
AS
BEGIN
	 -- KIEM TRA TRONG TABLE GIANG VIEN CUA SERVER HIEN TAI
	IF EXISTS(SELECT MAGV FROM DBO.GIANGVIEN WHERE DBO.GIANGVIEN.MAGV = @MAGV)
		BEGIN
			RETURN  1 ; -- MA GV TON TAI 
		END
	 -- KIEM TRA TRONG TABLE GIANG VIEN CUA SITE CHỦ
	ELSE IF EXISTS(SELECT MAGV FROM LINK0.QLDSV.DBO.GIANGVIEN GV WHERE GV.MAGV = @MAGV)
		BEGIN
			RETURN  1 ; -- MA GV TON TAI
		END
	ELSE
		BEGIN
			RETURN  0 ;
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRAMALOPTONTAI]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KIEMTRAMALOPTONTAI]
@MALOP nchar(8)
AS
BEGIN
	 -- KIEM TRA TRONG TABLE SINH VIEN CUA SERVER HIEN TAI
	 IF EXISTS(SELECT MALOP FROM DBO.LOP WHERE DBO.LOP.MALOP = @MALOP)
		BEGIN
			RETURN  1 ; -- MA LOp TON TAI 
		END
	 -- KIEM TRA TRONG TABLE SINH VIEN CUA PHAN MANH CON LAI
	 ELSE IF EXISTS(SELECT MALOP FROM LINK1.QLDSV.DBO.LOP LOP WHERE LOP.MALOP = @MALOP)
		BEGIN
			RETURN  1 ; -- MA LOP TON TAI
		END
	ELSE
		BEGIN
			RETURN  0 ;
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRAMAMONHOCTONTAI]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KIEMTRAMAMONHOCTONTAI]
@MAMH nchar(5)
AS
BEGIN
	 -- KIEM TRA TRONG TABLE MON HOC CUA SERVER HIEN TAI
	 IF EXISTS(SELECT MAMH FROM DBO.MONHOC WHERE DBO.MONHOC.MAMH = @MAMH)
		BEGIN
			RETURN  1 ; -- MA MH TON TAI 
		END
	ELSE
		BEGIN
			RETURN  0 ;
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRAMASINHVIENTONTAI]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KIEMTRAMASINHVIENTONTAI]
@MASV nchar(8)
AS
BEGIN
	 -- KIEM TRA TRONG TABLE SINH VIEN CUA SERVER HIEN TAI
	 IF EXISTS(SELECT MASV FROM DBO.SINHVIEN WHERE DBO.SINHVIEN.MASV = @MASV)
		BEGIN
			RETURN  1 ; -- MA SV TON TAI 
		END
	 -- KIEM TRA TRONG TABLE SINH VIEN CUA PHAN MANH CON LAI
	 ELSE IF EXISTS(SELECT MASV FROM LINK1.QLDSV.DBO.SINHVIEN SINHVIEN WHERE SINHVIEN.MASV = @MASV)
		BEGIN
			RETURN  1 ; -- MA SV TON TAI
		END
	ELSE
		BEGIN
			RETURN  0 ;
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRATENLOPTONTAI]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KIEMTRATENLOPTONTAI]
@TENLOP NVARCHAR(40)
AS
BEGIN
	 -- KIEM TRA TRONG TABLE SINH VIEN CUA SERVER HIEN TAI
	 IF EXISTS(SELECT TENLOP FROM DBO.LOP WHERE DBO.LOP.TENLOP = @TENLOP)
		BEGIN
			RETURN  1 ; -- TEN LOP TON TAI 
		END
	 -- KIEM TRA TRONG TABLE SINH VIEN CUA PHAN MANH CON LAI
	 ELSE IF EXISTS(SELECT TENLOP FROM LINK1.QLDSV.DBO.LOP LOP WHERE LOP.TENLOP = @TENLOP)
		BEGIN
			RETURN  1 ; -- TEN LOP TON TAI
		END
	ELSE
		BEGIN
			RETURN  0 ;
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRATENMONHOCTONTAI]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KIEMTRATENMONHOCTONTAI]
@TENMH NVARCHAR(40)
AS
BEGIN
	 -- KIEM TRA TRONG TABLE MON HOC CUA SERVER HIEN TAI
	 IF EXISTS(SELECT TENMH FROM DBO.MONHOC WHERE DBO.MONHOC.TENMH = @TENMH)
		BEGIN
			RETURN  1 ; -- MA MH TON TAI 
		END
	ELSE
		BEGIN
			RETURN  0 ;
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TAOLOGIN]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAOLOGIN]
  @LGNAME VARCHAR(50),
  @PASS VARCHAR(50),
  @USERNAME VARCHAR(50),
  @ROLE VARCHAR(50)
AS
BEGIN 
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'QLDSV'
	IF (@RET = 1)  -- LOGIN NAME BI TRUNG
		RETURN 1
  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
	IF (@RET = 1)  -- USERNAME BI TRUNG
	BEGIN
		EXEC SP_DROPLOGIN @LGNAME
		RETURN 2
	END

  EXEC sp_addrolemember @ROLE, @USERNAME
  EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin' 
	RETURN 0  -- THANH CONG
END 
GO
/****** Object:  StoredProcedure [dbo].[Xoa_Login]    Script Date: 1/4/2020 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Xoa_Login]
  @LGNAME VARCHAR(50),
  @USRNAME VARCHAR(50)
  
AS
EXEC SP_DROPUSER @USRNAME
  EXEC SP_DROPLOGIN @LGNAME
GO
