<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLDSV.Properties.Settings.QLDSVConnectionString" connectionString="Data Source=THONG-PC;Initial Catalog=QLDSV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLDSV.Properties.Settings.QLDSVConnectionString1"
            connectionString="Data Source=THONG-PC\SERVER1;Initial Catalog=QLDSV;User ID=TDHUY;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="QLDSVConnectionString2" connectionString="XpoProvider=MSSqlServer;data source=THONG-PC\SERVER3;integrated security=SSPI;initial catalog=QLDSV" />
    </connectionStrings>
</configuration>